    @model ToDo_App.ViewModels.UpdateForm
    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
    @{
    }
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <style>
        .item {
            width: 70%;
            height: 100px;
            border: 1px solid gray;
        }

        .over {
            background-color: rgba(0, 255, 255, 0.5);
        }

        .box {
            width: 70%;
            height: 100px;
            border: 1px solid gray;
            display: flex;
            flex-flow: row wrap;
        }

        body {
            text-align: center;
        }
    </style>
    </head>
    <body>
    <h3>タスク更新・削除画面</h3>
    <hr />
    <script type="text/javascript">
        function alert_delete(){
            var text = window.confirm('タスクを削除しますか?');
            if (text){
                <form asp-action="Delete" method="post">
                 </form>
                window.alert('タスクを削除しました。');
            }
            else{
                //nothing
            }
        }
    </script>
    <div class="register_form">
    <form asp-action="Update" method="post" enctype="multipart/form-data">
        <!--<script type="text/javascript
            var taskname = document.getElementById("Taskname").value;
            var start_date = document.getElementById("RegisterDate").value;
            var deadline_date = document.getElementById("DeadlineDate").value;
            var priority = document.getElementById("Priority").value;
            var comment = document.getElementById("Comment").value;
            var groupname = document.getElementById("Groupname").value;
            console.log(taskname);
            console.log(start_date);
            console.log(deadline_date);
            console.log(priority);
            console.log(comment);
            console.log(groupname);
        </script>-->
        <p style="color: red">@ViewData["message"]</p>
        <p>タスク名：<input type="text" value="@Model.Taskname" name="Taskname" /></p>
         <input type="datetime-local" value="@ViewData["StartDate"]" name="StartDate" /> ～ <input type="datetime-local" value="@ViewData["DeadlineDate"]" name="DeadlineDate" /></p>

        <p>
            コメント：<br />
            <textarea name="Comment" style="width: 70%; height: 100px;" />@Model.Comment</textarea>
        </p>
        <p>
            画像　：
            <input asp-for="ImageFile" id="image_name" type="file" accept=".jpg, .png, .gif" />
        </p>
        <p>
            <img id="preview" class="sample">
        </p>
        @*jquery*@
        <script type="text/javascript">
            $('#image_name').on('change', function (e) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#preview").attr('src', e.target.result);
                }
                reader.readAsDataURL(e.target.files[0]);
            });
        </script>
        <input name="image_data" id="image_data" type="hidden" />
        <p>
            グループ：
            <select name="GroupId" >
                <option value="@Model.GroupId" selected>@ViewData["Groupname"]</option>
                <option value=1>仕事</option>
                <option value=2>学校</option>
                <option value=3>趣味</option>
                <option value=4>約束</option>
            </select>
        </p>
        <p>
            優先度　：
            <select name="Priority">
                <option value=@Model.Priority selected>@ViewData["Priority"]</option>
                <option value=3>高</option>
                <option value=2>中</option>
                <option value=1>低</option>
            </select>
        </p>
        <div class="button_style">
           <button type="button" style="border:1px solid gray;" onclick="history.back()">戻る</button>
           <input type="submit" name="登録" value="登録" />
        </div>
    </form>
    <form asp-action="Delete" method="post">
        <div class="button_style">
          <button style="border:1px solid gray;">タスク削除</button>
        </div>
    </form>
    </div>
    @*
    <script type="text/javascript">
        (function () {
            var today = new Date();
            today.setDate(today.getDate());
            var yyyy = today.getFullYear();
            var mm = ("0" + (today.getMonth() + 1)).slice(-2);
            var dd = ("0" + today.getDate()).slice(-2);
            document.getElementById("today").value = yyyy + '-' + mm + '-' + dd;
        })();
        (function () {
            var tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate() + 1); //翌日の日付を取得
            var yyyy = tomorrow.getFullYear();
            var mm = ("0" + (tomorrow.getMonth() + 1)).slice(-2);
            var dd = ("0" + tomorrow.getDate()).slice(-2);
            document.getElementById("tomorrow").value = yyyy + '-' + mm + '-' + dd;
        })();
    </script>
       *@

    </body>